@import "bootstrap";
@import "bootstrap-responsive";
@import "compass/reset";
@import "compass/css3";

body {
  font-family: "Courier New";
}

#canvas {
  border: solid 1px black;
  float: left;
  min-height: 600px;
  min-width: 850px;

  img {
    max-width: none;
  }
}

.map_type_options {
  display: inline-block;
}


/** spinner **/
.spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px; // half width of the spinner gif
  margin-top: -50px; // half height of the spinner gif
  text-align: center;
  z-index: 1234;
  overflow: auto;
  width: 100px; // width of the spinner gif
  height: 102px // height of the spinner gif +2px to fix IE8 issue
}
/*************/

/** big glyphicons - modified version of icon styles from bootstrap css **/
.btn-large [class^="big-icon-"],
.btn-large [class*=" big-icon-"] {
  margin-top: 4px;
}
.btn-small [class^="big-icon-"],
.btn-small [class*=" big-icon-"] {
  margin-top: 0;
}
.btn-mini [class^="big-icon-"],
.btn-mini [class*=" big-icon-"] {
  margin-top: -1px;
}
[class^="big-icon-"],
[class*=" big-icon-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  *margin-right: .3em;
  line-height: 32px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons.png");
  background-position: 32px 32px;
  background-repeat: no-repeat;
  margin-top: 1px;
}
/* White icons with optional class, or on hover/active states of certain elements */
.big-icon-white,
.nav-pills > .active > a > [class^="big-icon-"],
.nav-pills > .active > a > [class*=" big-icon-"],
.nav-list > .active > a > [class^="big-icon-"],
.nav-list > .active > a > [class*=" big-icon-"],
.navbar-inverse .nav > .active > a > [class^="big-icon-"],
.navbar-inverse .nav > .active > a > [class*=" big-icon-"],
.dropdown-menu > li > a:hover > [class^="big-icon-"],
.dropdown-menu > li > a:hover > [class*=" big-icon-"],
.dropdown-menu > .active > a > [class^="big-icon-"],
.dropdown-menu > .active > a > [class*=" big-icon-"],
.dropdown-submenu:hover > a > [class^="big-icon-"],
.dropdown-submenu:hover > a > [class*=" big-icon-"] {
  background-image: url("../img/glyphicons-white.png");
}
.big-icon-glass {
  background-position: 0      0;
}
.big-icon-leaf {
  background-position: -46px 0;
}
.big-icon-dog {
  background-position: -94px 0;
}
.big-icon-user {
  background-position: -142px 0;
}
.big-icon-girl {
  background-position: -190px 0;
}
.big-icon-car {
  background-position: -238px 0;
}
.big-icon-user-add {
  background-position: -286px 0;
}
.big-icon-user-remove {
  background-position: -334px 0;
}
.big-icon-film {
  background-position: -382px 0;
}
.big-icon-magic {
  background-position: -430px 0;
}
.big-icon-envelope {
  background-position: 1px -46px;
}
.big-icon-camera {
  background-position: -46px -46px;
}
.big-icon-heart {
  background-position: -94px -46px;
}
.big-icon-beach-umbrella {
  background-position: -142px -46px;
}
.big-icon-train {
  background-position: -190px -46px;
}
.big-icon-print {
  background-position: -238px -46px;
}
.big-icon-bin {
  background-position: -286px -46px;
}
.big-icon-music {
  background-position: -344px -46px;
}
.big-icon-note {
  background-position: -382px -46px;
}
.big-icon-heart-empty {
  background-position: -430px -46px;
}
.big-icon-home {
  background-position: 1px -94px;
}
.big-icon-snowflake {
  background-position: -46px -94px;
}
.big-icon-fire {
  background-position: -94px -94px;
}
.big-icon-magnet {
  background-position: -142px -94px;
}
.big-icon-parents {
  background-position: -190px -94px;
}
.big-icon-binoculars {
  background-position: -238px -94px;
}
.big-icon-road {
  background-position: -286px -94px;
}
.big-icon-search {
  background-position: -334px -94px;
}
.big-icon-cars {
  background-position: -382px -94px;
}
.big-icon-notes-2 {
  background-position: -430px -94px;
}
.big-icon-pencil {
  background-position: 1px -142px;
}
.big-icon-bus {
  background-position: -46px -142px;
}
.big-icon-wifi-alt {
  background-position: -94px -142px;
}
.big-icon-luggage {
  background-position: -142px -142px;
}
.big-icon-old-man {
  background-position: -190px -142px;
}
.big-icon-woman {
  background-position: -238px -142px;
}
.big-icon-file {
  background-position: -286px -142px;
}
.big-icon-coins {
  background-position: -334px -142px;
}
.big-icon-airplane {
  background-position: -382px -142px;
}
.big-icon-notes {
  background-position: -430px -142px;
}
.big-icon-stats {
  background-position: 1px -190px;
}
.big-icon-charts {
  background-position: -46px -190px;
}
.big-icon-pie-chart {
  background-position: -94px -190px;
}
.big-icon-group {
  background-position: -142px -190px;
}
.big-icon-keys {
  background-position: -190px -190px;
}
.big-icon-calendar {
  background-position: -238px -190px;
}
.big-icon-router {
  background-position: -286px -190px;
}
.big-icon-camera-small {
  background-position: -334px -190px;
}
.big-icon-dislikes {
  background-position: -382px -190px;
}
.big-icon-star {
  background-position: -430px -190px;
}
.big-icon-link {
  background-position: 1px -238px;
}
.big-icon-eye-open {
  background-position: -46px -238px;
}
.big-icon-eye-close {
  background-position: -94px -238px;
}
.big-icon-alarm {
  background-position: -142px -238px;
}
.big-icon-clock {
  background-position: -190px -238px;
}
.big-icon-stopwatch {
  background-position: -238px -238px;
}
.big-icon-projector {
  background-position: -286px -238px;
}
.big-icon-history {
  background-position: -334px -238px;
}
.big-icon-truck {
  background-position: -382px -238px;
}
.big-icon-cargo {
  background-position: -430px -238px;
}
.big-icon-compass {
  background-position: 1px -286px;
}
.big-icon-keynote {
  background-position: -46px -286px;
}
.big-icon-paperclip {
  background-position: -94px -286px;
}
.big-icon-power {
  background-position: -142px -286px;
}
.big-icon-lightbulb {
  background-position: -190px -286px;
}
.big-icon-tag {
  background-position: -238px -286px;
}
.big-icon-tags {
  background-position: -286px -286px;
}
.big-icon-cleaning {
  background-position: -334px -286px;
}
.big-icon-ruler {
  background-position: -382px -286px;
}
.big-icon-gift {
  background-position: -430px -286px;
}
.big-icon-umbrella {
  background-position: 1px -334px;
}
.big-icon-book {
  background-position: -46px -334px;
}
.big-icon-bookmark {
  background-position: -94px -334px;
}
.big-icon-wifi {
  background-position: -142px -334px;
}
.big-icon-cup {
  background-position: -190px -334px;
}
.big-icon-stroller {
  background-position: -238px -334px;
}
.big-icon-headphones {
  background-position: -286px -334px;
}
.big-icon-headset {
  background-position: -334px -334px;
}
.big-icon-warning-sign {
  background-position: -382px -334px;
}
.big-icon-signal {
  background-position: -430px -334px;
}
.big-icon-retweet {
  background-position: 1px -382px;
}
.big-icon-refresh {
  background-position: -46px -382px;
}
.big-icon-roundabout {
  background-position: -94px -382px;
}
.big-icon-random {
  background-position: -142px -382px;
}
.big-icon-heat {
  background-position: -190px -382px;
}
.big-icon-repeat {
  background-position: -238px -382px;
}
.big-icon-display {
  background-position: -286px -382px;
}
.big-icon-log-book {
  background-position: -334px -382px;
}
.big-icon-address-book {
  background-position: -382px -382px;
}
.big-icon-building {
  background-position: -430px -382px;
}
.big-icon-eyedropper {
  background-position: 1px -430px;
}
.big-icon-adjust {
  background-position: -46px -430px;
}
.big-icon-tint {
  background-position: -94px -430px;
}
.big-icon-crop {
  background-position: -142px -430px;
}
.big-icon-vector-path-square {
  background-position: -190px -430px;
}
.big-icon-vector-path-circle {
  background-position: -238px -430px;
}
.big-icon-vector-path-polygon {
  background-position: -286px -430px;
}
.big-icon-vector-path-line {
  background-position: -334px -430px;
}
.big-icon-vector-path-curve {
  background-position: -382px -430px;
}
.big-icon-vector-path-all {
  background-position: -430px -430px;
}
.big-icon-font {
  background-position: 1px -478px;
}
.big-icon-italic {
  background-position: -46px -478px;
}
.big-icon-bold {
  background-position: -94px -478px;
}
.big-icon-text-underline {
  background-position: -142px -478px;
}
.big-icon-text-strike {
  background-position: -190px -478px;
}
.big-icon-text-height {
  background-position: -238px -478px;
}
.big-icon-text-width {
  background-position: -286px -478px;
}
.big-icon-text-resize {
  background-position: -334px -478px;
}
.big-icon-left-indent {
  background-position: -382px -478px;
}
.big-icon-right-indent {
  background-position: -430px -478px;
}
.big-icon-align-left {
  background-position: 1px -526px;
}
.big-icon-align-center {
  background-position: -46px -526px;
}
.big-icon-align-right {
  background-position: -94px -526px;
}
.big-icon-justify {
  background-position: -142px -526px;
}
.big-icon-list {
  background-position: -190px -526px;
}
.big-icon-text-smaller {
  background-position: -238px -526px;
}
.big-icon-text-bigger {
  background-position: -286px -526px;
}
.big-icon-embed {
  background-position: -334px -526px;
}
.big-icon-embed-close {
  background-position: -382px -526px;
}
.big-icon-table {
  background-position: -430px -526px;
}
.big-icon-message-full {
  background-position: 1px -574px;
}
.big-icon-message-empty {
  background-position: -46px -574px;
}
.big-icon-message-in {
  background-position: -94px -574px;
}
.big-icon-message-out {
  background-position: -142px -574px;
}
.big-icon-message-plus {
  background-position: -191px -574px;
}
.big-icon-message-minus {
  background-position: -239px -574px;
}
.big-icon-message-ban {
  background-position: -287px -574px;
}
.big-icon-message-flag {
  background-position: -334px -574px;
}
.big-icon-message-lock {
  background-position: -382px -574px;
}
.big-icon-message-new {
  background-position: -430px -574px;
}
.big-icon-inbox {
  background-position: 1px -622px;
}
.big-icon-inbox-plus {
  background-position: -46px -622px;
}
.big-icon-inbox-minus {
  background-position: -94px -622px;
}
.big-icon-inbox-lock {
  background-position: -142px -622px;
}
.big-icon-inbox-in {
  background-position: -190px -622px;
}
.big-icon-inbox-out {
  background-position: -238px -622px;
}
.big-icon-cogwheel {
  background-position: -286px -622px;
}
.big-icon-cogwheels {
  background-position: -333px -622px;
  width: 34px;
}
.big-icon-picture {
  background-position: -382px -622px;
}
.big-icon-adjust-alt {
  background-position: -430px -622px;
}
.big-icon-database-lock {
  background-position: 1px -670px;
}
.big-icon-database-plus {
  background-position: -46px -670px;
}
.big-icon-database-minus {
  background-position: -94px -670px;
}
.big-icon-database-ban {
  background-position: -142px -670px;
}
.big-icon-folder-open {
  background-position: -192px -670px;
}
.big-icon-folder-plus {
  background-position: -239px -670px;
}
.big-icon-folder-minus {
  background-position: -287px -670px;
}
.big-icon-folder-lock {
  background-position: -335px -670px;
}
.big-icon-folder-flag {
  background-position: -383px -670px;
}
.big-icon-folder-new {
  background-position: -431px -670px;
}
.big-icon-edit {
  background-position: 1px -718px;
}
.big-icon-new-window {
  background-position: -46px -718px;
}
.big-icon-check {
  background-position: -94px -718px;
}
.big-icon-unchecked {
  background-position: -142px -718px;
}
.big-icon-more-windows {
  background-position: -190px -718px;
}
.big-icon-show-big-thumbnails {
  background-position: -238px -718px;
}
.big-icon-show-thumbnails {
  background-position: -286px -718px;
}
.big-icon-show-big-thumbnails-with-lines {
  background-position: -334px -718px;
}
.big-icon-show-lines {
  background-position: -382px -718px;
}
.big-icon-playlist {
  background-position: -430px -718px;
}
.big-icon-imac {
  background-position: 1px -766px;
}
.big-icon-macbook {
  background-position: -46px -766px;
}
.big-icon-ipad {
  background-position: -94px -766px;
}
.big-icon-iphone {
  background-position: -142px -766px;
}
.big-icon-iphone-transfer {
  background-position: -190px -766px;
}
.big-icon-iphone-exchange {
  background-position: -238px -766px;
}
.big-icon-ipod {
  background-position: -286px -766px;
}
.big-icon-ipod-shuffle {
  background-position: -334px -766px;
}
.big-icon-ear-plugs {
  background-position: -382px -766px;
}
.big-icon-phone {
  background-position: -430px -766px;
}
.big-icon-step-backward {
  background-position: 1px -814px;
}
.big-icon-fast-backward {
  background-position: -46px -814px;
}
.big-icon-rewind {
  background-position: -94px -814px;
}
.big-icon-play {
  background-position: -142px -814px;
}
.big-icon-pause {
  background-position: -190px -814px;
}
.big-icon-stop {
  background-position: -238px -814px;
}
.big-icon-forward {
  background-position: -286px -814px;
}
.big-icon-fast-forward {
  background-position: -334px -814px;
}
.big-icon-step-forward {
  background-position: -382px -814px;
}
.big-icon-eject {
  background-position: -430px -814px;
}
.big-icon-facetime-video {
  background-position: 1px -862px;
}
.big-icon-download-alt {
  background-position: -46px -862px;
}
.big-icon-mute {
  background-position: -94px -862px;
}
.big-icon-volume-down {
  background-position: -142px -862px;
}
.big-icon-volume-up {
  background-position: -190px -862px;
}
.big-icon-screenshot {
  background-position: -238px -862px;
}
.big-icon-move {
  background-position: -286px -862px;
}
.big-icon-more {
  background-position: -334px -862px;
}
.big-icon-brightness-reduce {
  background-position: -382px -862px;
}
.big-icon-brightness-increase {
  background-position: -430px -862px;
}
.big-icon-circle-plus {
  background-position: 1px -910px;
}
.big-icon-circle-minus {
  background-position: -46px -910px;
}
.big-icon-circle-remove {
  background-position: -94px -910px;
}
.big-icon-circle-ok {
  background-position: -142px -910px;
}
.big-icon-circle-question-mark {
  background-position: -190px -910px;
}
.big-icon-circle-info {
  background-position: -238px -910px;
}
.big-icon-circle-exclamation-mark {
  background-position: -286px -910px;
}
.big-icon-remove {
  background-position: -334px -910px;
}
.big-icon-ok {
  background-position: -382px -910px;
}
.big-icon-ban {
  background-position: -430px -910px;
}
.big-icon-download {
  background-position: 1px -958px;
}
.big-icon-upload {
  background-position: -46px -958px;
}
.big-icon-shopping-cart {
  background-position: -94px -958px;
}
.big-icon-lock {
  background-position: -142px -958px;
}
.big-icon-unlock {
  background-position: -190px -958px;
}
.big-icon-electricity {
  background-position: -238px -958px;
}
.big-icon-ok-2 {
  background-position: -286px -958px;
}
.big-icon-remove-2 {
  background-position: -334px -958px;
}
.big-icon-cart-out {
  background-position: -382px -958px;
}
.big-icon-cart-in {
  background-position: -430px -958px;
}
.big-icon-left-arrow {
  background-position: 1px -1006px;
}
.big-icon-right-arrow {
  background-position: -46px -1006px;
}
.big-icon-down-arrow {
  background-position: -94px -1006px;
}
.big-icon-up-arrow {
  background-position: -142px -1006px;
}
.big-icon-resize-small {
  background-position: -190px -1006px;
}
.big-icon-resize-full {
  background-position: -238px -1006px;
}
.big-icon-circle-arrow-left {
  background-position: -286px -1006px;
}
.big-icon-circle-arrow-right {
  background-position: -334px -1006px;
}
.big-icon-circle-arrow-top {
  background-position: -382px -1006px;
}
.big-icon-circle-arrow-down {
  background-position: -430px -1006px;
}
.big-icon-play-button {
  background-position: 1px -1054px;
}
.big-icon-unshare {
  background-position: -46px -1054px;
}
.big-icon-share {
  background-position: -94px -1054px;
}
.big-icon-chevron-right {
  background-position: -142px -1054px;
}
.big-icon-chevron-left {
  background-position: -190px -1054px;
}
.big-icon-bluetooth {
  background-position: -238px -1054px;
}
.big-icon-euro {
  background-position: -286px -1054px;
}
.big-icon-usd {
  background-position: -334px -1054px;
}
.big-icon-gbp {
  background-position: -382px -1054px;
}
.big-icon-retweet-2 {
  background-position: -430px -1054px;
}
.big-icon-moon {
  background-position: 1px -1102px;
}
.big-icon-sun {
  background-position: -46px -1102px;
}
.big-icon-cloud {
  background-position: -94px -1102px;
}
.big-icon-direction {
  background-position: -142px -1102px;
}
.big-icon-brush {
  background-position: -190px -1102px;
}
.big-icon-pen {
  background-position: -238px -1102px;
}
.big-icon-zoom-in {
  background-position: -286px -1102px;
}
.big-icon-zoom-out {
  background-position: -334px -1102px;
}
.big-icon-pin {
  background-position: -382px -1102px;
}
.big-icon-albums {
  background-position: -430px -1102px;
}
.big-icon-rotation-lock {
  background-position: 1px -1150px;
}
.big-icon-flash {
  background-position: -46px -1150px;
}
.big-icon-google-maps {
  background-position: -94px -1150px;
}
.big-icon-anchor {
  background-position: -142px -1150px;
}
.big-icon-conversation {
  background-position: -190px -1150px;
}
.big-icon-chat {
  background-position: -238px -1150px;
}
.big-icon-male {
  background-position: -286px -1150px;
}
.big-icon-female {
  background-position: -334px -1150px;
}
.big-icon-asterisk {
  background-position: -382px -1150px;
}
.big-icon-divide {
  background-position: -430px -1150px;
}
.big-icon-snorkel-diving {
  background-position: 1px -1198px;
}
.big-icon-scuba-diving {
  background-position: -46px -1198px;
}
.big-icon-oxygen-bottle {
  background-position: -94px -1198px;
}
.big-icon-fins {
  background-position: -142px -1198px;
}
.big-icon-fishes {
  background-position: -190px -1198px;
}
.big-icon-boat {
  background-position: -238px -1198px;
}
.big-icon-delete {
  background-position: -286px -1198px;
}
.big-icon-sherrifs-star {
  background-position: -334px -1198px;
}
.big-icon-qrcode {
  background-position: -382px -1198px;
}
.big-icon-barcode {
  background-position: -430px -1198px;
}
.big-icon-pool {
  background-position: 1px -1246px;
}
.big-icon-buoy {
  background-position: -46px -1246px;
}
.big-icon-spade {
  background-position: -94px -1246px;
}
.big-icon-bank {
  background-position: -142px -1246px;
}
.big-icon-vcard {
  background-position: -190px -1246px;
}
.big-icon-electrical-plug {
  background-position: -238px -1246px;
}
.big-icon-flag {
  background-position: -286px -1246px;
}
.big-icon-credit-card {
  background-position: -334px -1246px;
}
.big-icon-keyboard-wireless {
  background-position: -382px -1246px;
}
.big-icon-keyboard-wired {
  background-position: -430px -1246px;
}
.big-icon-shield {
  background-position: 1px -1294px;
}
.big-icon-ring {
  background-position: -46px -1294px;
}
.big-icon-cake {
  background-position: -94px -1294px;
}
.big-icon-drink {
  background-position: -142px -1294px;
}
.big-icon-beer {
  background-position: -190px -1294px;
}
.big-icon-fast-food {
  background-position: -238px -1294px;
}
.big-icon-cutlery {
  background-position: -286px -1294px;
}
.big-icon-pizza {
  background-position: -334px -1294px;
}
.big-icon-birthday-cake {
  background-position: -382px -1294px;
}
.big-icon-tablet {
  background-position: -430px -1294px;
}
.big-icon-settings {
  background-position: 1px -1342px;
}
.big-icon-bullets {
  background-position: -46px -1342px;
}
.big-icon-cardio {
  background-position: -94px -1342px;
}
.big-icon-t-shirt {
  background-position: -142px -1342px;
}
.big-icon-pants {
  background-position: -190px -1342px;
}
.big-icon-sweater {
  background-position: -238px -1342px;
}
.big-icon-fabric {
  background-position: -286px -1342px;
}
.big-icon-leather {
  background-position: -334px -1342px;
}
.big-icon-scissors {
  background-position: -382px -1342px;
}
.big-icon-bomb {
  background-position: -430px -1342px;
}
.big-icon-skull {
  background-position: 1px -1390px;
}
.big-icon-celebration {
  background-position: -46px -1390px;
}
.big-icon-tea-kettle {
  background-position: -94px -1390px;
}
.big-icon-french-press {
  background-position: -142px -1390px;
}
.big-icon-coffee-cup {
  background-position: -190px -1390px;
}
.big-icon-pot {
  background-position: -238px -1390px;
}
.big-icon-grater {
  background-position: -286px -1390px;
}
.big-icon-kettle {
  background-position: -334px -1390px;
}
.big-icon-hospital {
  background-position: -382px -1390px;
}
.big-icon-hospital-h {
  background-position: -430px -1390px;
}
.big-icon-microphone {
  background-position: 1px -1438px;
}
.big-icon-webcam {
  background-position: -46px -1438px;
}
.big-icon-temple-christianity-church {
  background-position: -94px -1438px;
}
.big-icon-temple-islam {
  background-position: -142px -1438px;
}
.big-icon-temple-hindu {
  background-position: -190px -1438px;
}
.big-icon-temple-buddhist {
  background-position: -238px -1438px;
}
.big-icon-bicycle {
  background-position: -286px -1438px;
}
.big-icon-life-preserver {
  background-position: -334px -1438px;
}
.big-icon-share-alt {
  background-position: -382px -1438px;
}
.big-icon-comments {
  background-position: -430px -1438px;
}
.big-icon-flower {
  background-position: 1px -1486px;
}
.big-icon-baseball {
  background-position: -46px -1486px;
}
.big-icon-rugby {
  background-position: -94px -1486px;
}
.big-icon-ax {
  background-position: -142px -1486px;
}
.big-icon-table-tennis {
  background-position: -190px -1486px;
}
.big-icon-bowling {
  background-position: -238px -1486px;
}
.big-icon-tree-conifer {
  background-position: -286px -1486px;
}
.big-icon-tree-deciduous {
  background-position: -334px -1486px;
}
.big-icon-more-items {
  background-position: -382px -1486px;
}
.big-icon-sort {
  background-position: -430px -1486px;
}
.big-icon-filter {
  background-position: 1px -1534px;
}
.big-icon-gamepad {
  background-position: -46px -1534px;
}
.big-icon-playing-dice {
  background-position: -94px -1534px;
}
.big-icon-calculator {
  background-position: -142px -1534px;
}
.big-icon-tie {
  background-position: -190px -1534px;
}
.big-icon-wallet {
  background-position: -238px -1534px;
}
.big-icon-piano {
  background-position: -286px -1534px;
}
.big-icon-sampler {
  background-position: -334px -1534px;
}
.big-icon-podium {
  background-position: -382px -1534px;
}
.big-icon-soccer-ball {
  background-position: -430px -1534px;
}
.big-icon-blog {
  background-position: 1px -1582px;
}
.big-icon-dashboard {
  background-position: -46px -1582px;
}
.big-icon-certificate {
  background-position: -94px -1582px;
}
.big-icon-bell {
  background-position: -142px -1582px;
}
.big-icon-candle {
  background-position: -190px -1582px;
}
.big-icon-pushpin {
  background-position: -238px -1582px;
}
.big-icon-iphone-shake {
  background-position: -286px -1582px;
}
.big-icon-pin-flag {
  background-position: -334px -1582px;
}
.big-icon-turtle {
  background-position: -382px -1582px;
}
.big-icon-rabbit {
  background-position: -430px -1582px;
}
.big-icon-globe {
  background-position: 1px -1630px;
}
.big-icon-briefcase {
  background-position: -46px -1630px;
}
.big-icon-hdd {
  background-position: -94px -1630px;
}
.big-icon-thumbs-up {
  background-position: -142px -1630px;
}
.big-icon-thumbs-down {
  background-position: -190px -1630px;
}
.big-icon-hand-right {
  background-position: -238px -1630px;
}
.big-icon-hand-left {
  background-position: -286px -1630px;
}
.big-icon-hand-up {
  background-position: -334px -1630px;
}
.big-icon-hand-down {
  background-position: -382px -1630px;
}
.big-icon-fullscreen {
  background-position: -430px -1630px;
}
.big-icon-shopping-bag {
  background-position: 1px -1678px;
}
.big-icon-book-open {
  background-position: -46px -1678px;
}
.big-icon-nameplate {
  background-position: -94px -1678px;
}
.big-icon-nameplate-alt {
  background-position: -142px -1678px;
}
.big-icon-vases {
  background-position: -190px -1678px;
}
.big-icon-bullhorn {
  background-position: -238px -1678px;
}
.big-icon-dumbbell {
  background-position: -286px -1678px;
}
.big-icon-suitcase {
  background-position: -334px -1678px;
}
.big-icon-file-import {
  background-position: -382px -1678px;
}
.big-icon-file-export {
  background-position: -430px -1678px;
}
.big-icon-bug {
  background-position: 1px -1726px;
}
.big-icon-crown {
  background-position: -46px -1726px;
}
.big-icon-smoking {
  background-position: -94px -1726px;
}
.big-icon-cloud-upload {
  background-position: -142px -1726px;
}
.big-icon-cloud-download {
  background-position: -190px -1726px;
}
.big-icon-restart {
  background-position: -238px -1726px;
}
.big-icon-security-camera {
  background-position: -286px -1726px;
}
.big-icon-expand {
  background-position: -334px -1726px;
}
.big-icon-collapse {
  background-position: -382px -1726px;
}
.big-icon-collapse-top {
  background-position: -430px -1726px;
}
.big-icon-globe-af {
  background-position: 1px -1774px;
}
.big-icon-global {
  background-position: -46px -1774px;
}
.big-icon-spray {
  background-position: -94px -1774px;
}
.big-icon-nails {
  background-position: -142px -1774px;
}
.big-icon-claw-hammer {
  background-position: -190px -1774px;
}
.big-icon-classic-hammer {
  background-position: -238px -1774px;
}
.big-icon-hand-saw {
  background-position: -286px -1774px;
}
.big-icon-riflescope {
  background-position: -334px -1774px;
}
.big-icon-electrical-socket-eu {
  background-position: -382px -1774px;
}
.big-icon-electrical-socket-us {
  background-position: -430px -1774px;
}
.big-icon-pinterest {
  background-position: 1px -1822px;
}
.big-icon-dropbox {
  background-position: -46px -1822px;
}
.big-icon-google-plus {
  background-position: -94px -1822px;
}
.big-icon-jolicloud {
  background-position: -142px -1822px;
}
.big-icon-yahoo {
  background-position: -190px -1822px;
}
.big-icon-blogger {
  background-position: -238px -1822px;
}
.big-icon-picasa {
  background-position: -286px -1822px;
}
.big-icon-amazon {
  background-position: -334px -1822px;
}
.big-icon-tumblr {
  background-position: -382px -1822px;
}
.big-icon-wordpress {
  background-position: -430px -1822px;
}
.big-icon-instapaper {
  background-position: 1px -1870px;
}
.big-icon-evernote {
  background-position: -46px -1870px;
}
.big-icon-xing {
  background-position: -94px -1870px;
}
.big-icon-zootool {
  background-position: -142px -1870px;
}
.big-icon-dribbble {
  background-position: -190px -1870px;
}
.big-icon-deviantart {
  background-position: -238px -1870px;
}
.big-icon-read-it-later {
  background-position: -286px -1870px;
}
.big-icon-linked-in {
  background-position: -334px -1870px;
}
.big-icon-forrst {
  background-position: -382px -1870px;
}
.big-icon-pinboard {
  background-position: -430px -1870px;
}
.big-icon-behance {
  background-position: 1px -1918px;
}
.big-icon-github {
  background-position: -46px -1918px;
}
.big-icon-youtube {
  background-position: -94px -1918px;
}
.big-icon-skitch {
  background-position: -142px -1918px;
}
.big-icon-4square {
  background-position: -190px -1918px;
}
.big-icon-quora {
  background-position: -238px -1918px;
}
.big-icon-badoo {
  background-position: -286px -1918px;
}
.big-icon-spotify {
  background-position: -334px -1918px;
}
.big-icon-stumbleupon {
  background-position: -382px -1918px;
}
.big-icon-readability {
  background-position: -430px -1918px;
}
.big-icon-facebook {
  background-position: 1px -1966px;
}
.big-icon-twitter {
  background-position: -46px -1966px;
}
.big-icon-instagram {
  background-position: -94px -1966px;
}
.big-icon-posterous-spaces {
  background-position: -142px -1966px;
}
.big-icon-vimeo {
  background-position: -190px -1966px;
}
.big-icon-flickr {
  background-position: -238px -1966px;
}
.big-icon-last-fm {
  background-position: -286px -1966px;
}
.big-icon-rss {
  background-position: -334px -1966px;
}
.big-icon-skype {
  background-position: -382px -1966px;
}
.big-icon-e-mail {
  background-position: -430px -1966px;
}
.nav-list [class^="big-icon-"],
.nav-list [class*=" big-icon-"] {
  margin-right: 2px;
}