<div class="alert alert-error">
  <h4>{{name}}</h4>
  Do you want to enter this dungeon?<br>
  <button data-dungeonId="{{id}}" class="enter_dungeon btn btn-primary">Bring it!</button>
  <button class="btn close_info_window">No way.</button>
</div>